#editor {
    width: auto;
    height: 800px;
}

.errorHighlight {
    position: absolute;
    z-index: 20;
    background-color: #F4B9B7;
}

.container {
    margin-left: 8px;
}

.output {
    background-color: #141414;
    height: 90%;
    border-right: 2px solid #5C5C5C;
}

button {
    width: 158px;
    height: 44px;
    border: none;
    color: white;
}

.csbutton {
    background-color: #9A71D7;
}

.jsbutton {
    background-color: #CEAD1B;
}

button:hover {
    color: blue;
    background-color: white
}

#flex-box1 {
    display: flex;
    flex-flow: row wrap;
    height: 100%
}

@media only screen and (max-width: 1000px) {
    #flex-box1 {
        flex-flow: column wrap
    }
}

.navbar {
    height: 100px;
    width: 100%;
    background-color: #3C3C3C
}

.mark-box {
    display: none;
    position: absolute;
    width: 464px;
    height: 382px;
    background-color: #333333;
    left: 37%;
    top: 34%;
    text-align: center;
}

html,
body {
    height: 100%;
    margin: 0;
    background-color: #141414;
}